@import '../../../styles/variables.scss';

.DiaryList {
  .menu_wrapper {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .right_col {
      flex-grow: 1;

      button {
        width: 100%;
      }
    }
  }
}
