@import '../../../styles/variables.scss';

.DiaryItem {
  @include flexCenter;
  padding: 15px 0;
  border-bottom: $border;

  .emotion_img_wrapper_1 {
    background-color: $emotion1;
  }
  .emotion_img_wrapper_2 {
    background-color: $emotion2;
  }
  .emotion_img_wrapper_3 {
    background-color: $emotion3;
  }
  .emotion_img_wrapper_4 {
    background-color: $emotion4;
  }
  .emotion_img_wrapper_5 {
    background-color: $emotion5;
  }

  .emotion_img_wrapper {
    min-width: 120px;
    height: 80px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;

    img {
      width: 50%;
    }
  }

  .info_wrapper {
    margin-left: 20px;
    flex-grow: 1;
    cursor: pointer;

    .diary_date {
      margin-bottom: 5px;
      font-weight: bold;
      font-size: $fontLarge;
    }

    .diary_content_preview {
      font-size: 18px;
    }
  }

  .btn_wrapper {
    min-width: 70px;
  }
}
